<h2>Upcoming games</h2>

<% if (data.length == 0) { %>
 
    <p>No event found :(</p>
<% } else {%>
    <% for(let key in data) {%>
        <h3><%= key %></h3>
        <ul>
            <% for( let i = 0; i < data[key].length; i++ ) { %>
                <li>
                    <div class="team-wrapper">
                        <img src="<%= data[key][i].homeTeamData.strTeamBadge %>" alt="">
                        <h3><%= data[key][i].strHomeTeam %></h3>
                    </div>

                    <div class="game-info">
                        <span><%= data[key][i].localTime %></span>
                        <span><%= data[key][i].dateStringShort %></span>
                    </div>

                    <div class="team-wrapper">
                        <img src="<%= data[key][i].awayTeamData.strTeamBadge%>" alt="">
                        <h3><%= data[key][i].strAwayTeam %></h3>
                    </div>

                    <img src="/static/wsl-logo.png" alt="">
                </li>
            
            <% } %>
            
        </ul>
    <% } %>
<% } %>
