<ul class="team-form cards--list">
    <% data.forEach(event => { %>
        <li>
            <div class="team-wrapper">
                <img src="<%= event.homeTeamData.strTeamBadge %>" alt="<%= event.strHomeTeam %> logo">
                <h3 class="<%= event.intHomeScore > event.intAwayScore ? 'win' : 'loss' %>"><%= event.intHomeScore %></h3>
            </div>
    
            <div class="team-wrapper">
                <img src="<%= event.awayTeamData.strTeamBadge %>" alt="<%= event.strAwayTeam %> logo">
                <h3 class="<%= event.intAwayScore > event.intHomeScore ? 'win' : 'loss' %>"><%= event.intAwayScore %></h3>
            </div>
    
        </li>
    <% }) %>
</ul>